{% extends "layout.html" %}
{% block title %}
Control acceso a Internet
{% endblock %}
{% block content %}
<form method="post">
    <label for=acceso_internet_label">Acceso Internet: {{ acceso_internet }}</label>
    <br>
    <br>
    <br>
    <input type="submit" value="{{ poner_quitar }}">
    <hr>
</form>
{% endblock %}