{% extends "layout.html" %}
{% block title %}
Sumar a un nivel pro
{% endblock %}
{% block content %}
<p>Introduzca los operandos de tipo entero (positivos o negativos, y sin decimales), por favor:</p>
<form method="post">
    <label for="operando1_label">Operando1:</label>
    <input name="operando1" id="operando1" value="{{ request.form['operando1'] }}" required>
    <br>

    <label for="operando2_label">Operando2:</label>
    <input name="operando2" id="operando2" value="{{ request.form['operando2'] }}" required>

    <input type="submit" value="Sumar">
    <hr>

    <label for=resultado_label">Resultado:</label>
    <input type="text" name="resultado" id="resultado" value="{{ resultado }}" readonly>
</form>
{% endblock %}