{% extends "layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}
<p>Si quieres ver este y otros ejemplos<br>
    <a href="https://gitlab.com/jgimenez" target="_blank">gitlab.com/jgimenez</a>
    <br>
    <br>
    En formato json
    <br>
    <a href="/api/data" target="_blank">/api/data</a>
</p>
{% endblock %}