{% extends "layout.html" %}
{% block title %}
Modificar empleado
{% endblock %}
{% block content %}
<form method="post">
  <fieldset class="border p-2">
    <legend class="w-auto"></legend>  
      <div class="form-group row">
        <label for=id_label" class="col-sm-2 col-form-label">Identificador:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="id" id="id" value="{{ id }}" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre_label" class="col-sm-2 col-form-label">Nombre:</label>
        <div class="col-sm-10">
          <input name="nombre" class="form-control" id="nombre" value="{{ nombre }}">
        </div>
      </div>

      <div class="form-group row">
        <label for="numero_telefono_label" class="col-sm-2 col-form-label">Número de teléfono:</label>
        <div class="col-sm-10">
          <input name="numero_telefono" class="form-control" id="numero_telefono" value="{{ numero_telefono }}">
        </div>
      </div>


      <div class="text-center">
        <input type="submit" class="btn btn-primary btn-default" value="Modificar">
        <input type="button" class="btn btn-secondary" value="Cancelar" onclick="history.back()">
      </div>
  </fieldset>
</form>
{% endblock %}
